.client-filter .but-filter {
    min-width: 80px;
    padding: 6px;
    margin-right: 6px;
}
.client-filter .separ {
    margin: 16px 0;
    border-style: solid;
    border-bottom: 0;
    border-color: darkgrey;
}